* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #191d32;
}
.cross-btn {
  right: -10px;
  top: -10px;
}
.btn {
  width: 80px;
  text-align: center;
  background-color: rgb(250, 14, 61);
  color: white;
  height: 70%;
  margin-top: 18px;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: 2px;
}
.btn:active {
  transform: scale(0.9);
}
@media screen and (max-width: 768px) {
  .btn {
    width: 140px;
    height: 40px;
  }
}
